@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:ital,wght@0,200;0,300;0,500;1,300&family=Pacifico&family=Roboto+Condensed&display=swap");
@-webkit-keyframes aumenta {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}
@keyframes aumenta {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

/* MENU */
.contenedorMenu {
  line-height: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.contenedorMenu .marca {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #9B2A94;
  text-transform: none;
  font-size: 2rem;
}

.contenedorMenu .navMenu {
  font-size: 1.25rem;
  padding: .5rem;
  margin-bottom: .5rem;
}

.contenedorMenu .navMenu .especial {
  color: #9B2A94;
}

.contenedorMenu .nav-item.selected {
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
}

/* HOME PRINCIPAL */
.first {
  background: #e8d2d2;
  color: #b92a2a;
  text-align: center;
  margin-top: 102px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}

.first .borders {
  border: 1px solid #924f4f;
  border-radius: 1.5rem;
}

.second {
  background: #c1bfbf70;
  color: #6a2b2b;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
}

@media all and (min-width: 768px) {
  .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.third {
  background: #bdeee7;
  color: #6a2b2b;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
}

/* PRODUCTOS */
.contenedor {
  margin-top: 102px;
  padding-top: 30px;
  width: 95%;
  margin-left: 2%;
}

.contenedor .tituloProducto {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.7em;
  color: black;
}

.contenedor .tituloProducto .anima {
  -webkit-animation-name: aumenta;
          animation-name: aumenta;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contenedor .contenedorProducto {
  margin: 20px 0;
}

.contenedor .contenedorProducto .prodTitulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #5d5d5d;
}

.contenedor .contenedorProducto .prodSubTitulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
  color: #808080;
}

.contenedor .contenedorProducto .escala:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* TAKE AWAY */
.conteiner {
  margin-top: 102px;
  padding-top: 30px;
  width: 95%;
  margin-left: 2%;
}

.conteiner .tituloTA {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.7em;
  color: #696969;
  text-align: center;
}

.conteiner .tituloTA .anima {
  -webkit-animation-name: aumenta;
          animation-name: aumenta;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.conteiner .pasoApaso {
  background: #e8d2d2;
  color: #b92a2a;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.conteiner .formulario {
  margin: 3% 10%;
  padding: 10%;
  border: 3px solid #d3bcb3;
}

.conteiner .formulario .alineacionVertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  float: left;
  padding: 0.60rem;
  margin-bottom: 2%;
}

.conteiner .formulario .alineacionVertical .tituloForm {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #696969;
}

.conteiner .formulario .alineacionVertical .inputContacto {
  vertical-align: middle;
  border-radius: 10px;
  padding: 15px 40px;
  overflow: visible;
}

.conteiner .formulario .alineacionVertical .ancho {
  width: 30%;
  background-color: #e3af10;
  border-color: #e3af10;
  float: right;
  margin-right: 0;
}

/* FOOTER  */
.contieneFooter {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.contieneFooter .footerDos {
  color: black;
  background-color: #bbd7c3;
}

.contieneFooter .footerDos .marca {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #9B2A94;
  text-transform: none;
}

.contieneFooter .footerDos .leyenda {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #696969;
}

.contieneFooter .footerDos .leyenda .titulo {
  font-size: 16px;
  text-transform: uppercase;
}

.contieneFooter .footerDos .leyenda .auxTexto {
  font-size: 14px;
}

.contieneFooter .footerDos .centro {
  margin: 5%;
}
/*# sourceMappingURL=estilos.css.map */