.first{
	background: #e8d2d2;
	color: #b92a2a;
	text-align: center;
}

.second{
	background: #c1bfbf70;
	color: black;
/*	text-align: center;*/
}

.third{
	background: #bdeee7;
	color: black;
	text-align: center;
}
