/* MENU */
.contenedorMenu{
	line-height: 2;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	.marca {
		font-family: 'Pacifico',map-get($fontF, fantasy);
		font-weight: map-get($fontW, normal);
		color: map-get($colores, cursiva);
		text-transform: none;
		font-size: 2rem;
	  }
	.navMenu{
		font-size: 1.25rem;
		padding: .5rem;
		margin-bottom: .5rem;
		.especial{
			color: map-get($colores, cursiva);
		}
	}
	.nav-item.selected{
		border-bottom: 3px solid #000;
		border-top: 3px solid #000;
	}
}

/* HOME PRINCIPAL */

.first{
	background: map-get($colores, fondoPrincipal);
	color:  map-get($colores, textoPrincipal);
	text-align: center;
	margin-top: 102px;
	font-family: 'Roboto Condensed',map-get($fontF, texto);
	font-weight: map-get($fontW, normal);
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	margin-left: 5%;
	.borders{
		border:1px solid rgb(146, 79, 79);
		border-radius: 1.5rem;
	}
}

.second{
	background: map-get($colores, fondoCarrouselP);
	color: map-get($colores, textoCarrouselP);
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	text-align: center;
	@media all and(min-width:768px) {
		display: flex;
		flex-direction: row-reverse;
	}
}

.third{
	background: map-get($colores, fondoCarrouselS);
	color: map-get($colores, textoCarrouselS);
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	text-align: center;
}

/* PRODUCTOS */
.contenedor{
	margin-top:102px;
	padding-top:30px;
	width: 95%;
	margin-left: 2%;
	.tituloProducto{
		font-family: "Montserrat", map-get($fontF, texto);
		font-weight: map-get($fontW, medium);	
		font-size: 1.1em;
		line-height: 1.7em;		
		color: map-get($colores, negro);
		.anima{
			animation-name: aumenta;
			animation-timing-function: ease-in-out;
			animation-delay: 1s;
			animation-duration: 10s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

	}
	.contenedorProducto{
		margin:  20px 0;
		.prodTitulo{
			font-family: "Montserrat", map-get($fontF, texto);
			font-weight: map-get($fontW, medium);	
			font-size: 1.1em;
			line-height: 1.7em;		
			color: map-get($colores, tituloProducto);
		}
		.prodSubTitulo{
			font-family: "Montserrat", map-get($fontF, texto);
			font-weight: 300;
			font-size: 1em;
			line-height: 1.6;
			color: map-get($colores, textoProducto);
		}
		.escala:hover{
			transform: scale(1.1);
		}
	}
}

/* TAKE AWAY */
.conteiner{
	margin-top:102px;
	padding-top:30px;
	width: 95%;
	margin-left: 2%;
	.tituloTA{
		font-family: "Montserrat", map-get($fontF, texto);
		font-weight: map-get($fontW, medium);	
		font-size: 2em;
		line-height: 1.7em;		
		color: map-get($colores, textoPlano);
		text-align: center;
		.anima{
			animation-name: aumenta;
			animation-timing-function: ease-in-out;
			animation-delay: 1s;
			animation-duration: 10s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
	.pasoApaso{
		background: map-get($colores, fondoPrincipal);
		color:  map-get($colores, textoPrincipal);
		text-align: center;
		font-family: 'Roboto Condensed',map-get($fontF, texto);
		font-weight: map-get($fontW, normal);
	}
	.formulario{
		margin: 3% 10%;
		padding: 3%;
		border: 3px solid map-get($colores,bordeformulario);
		.alineacionVertical{
			display: flex;
			flex-direction: column;
			padding: 0.60rem;
			margin-bottom: 2%;
			.tituloForm{
				font-size: 16px;
				text-transform: uppercase;
				font-family: 'Lato',map-get($fontF, texto);
				font-weight: map-get($fontW, normal);
				color: map-get($colores, textoPlano) ;
			}
			.inputContacto{
				vertical-align: middle;
				border-radius: 10px;
				padding: 15px 40px;
				overflow: visible;
			}
			.ancho{
				width: 30%;
				background-color: #e3af10;
				border-color: #e3af10;
				float: right;
				margin-right:0;
			}

		}

	}
}

/* FOOTER  */

.contieneFooter{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	.footerDos{
		color:black;
		background-color: map-get($colores, fondoFooter);
		.marca{
			font-family: 'Pacifico',map-get($fontF, fantasy);
			font-weight: map-get($fontW, normal);
			color: map-get($colores, cursiva);
			text-transform: none;
		}
		.leyenda{
			font-family: 'Lato',map-get($fontF, texto);
			font-weight: map-get($fontW, normal);
			color: map-get($colores, textoPlano) ;
			.titulo{
				font-size: 16px;
				text-transform: uppercase;
			}
			.auxTexto{
				font-size: 14px;
			}
		}
		.centro{
			margin: 5%;
		}
	}
}
