/* MENU */
.contenedorMenu{
	line-height: 2;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	.myLogo {
		background-image: url('../assets/bati_logo.png');
		display: block;
		width: 80px;
		height: 23px;
	}
	.navMenu{
		font-size: 1.25rem;
		padding: .5rem;
		margin-bottom: .5rem;
	}
	.nav-item.selected{
		border-bottom: 3px solid #000;
		border-top: 3px solid #000;
	}
}


// .font{
// 	color: black;
// }



/* HOME PRINCIPAL */
.first{
	background: #e8d2d2;
	color: #b92a2a;
	text-align: center;
	.borders{
		border:1px solid rgb(146, 79, 79);
		border-radius: 1.5rem;
	}
	.anima{
		animation-name: aumenta;
		animation-timing-function: ease-in-out;
		animation-delay: 1s;
		animation-duration: 10s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}

.second{
	background: #c1bfbf70;
	color: black;
/*	text-align: center;*/
}

.third{
	background: #bdeee7;
	color: black;
	text-align: center;
}

.posInicial{
	
}
