$fontW:(
	light: 300,
	normal: 400,
	medium: 500,
	bold: 700
);

$fontF:(
	texto: sans-serif,
	fantasy: cursive,
	titulo: vacante,
	subtitulo: vacante2
);

$colores:(
	textoPrincipal:#b92a2a,
	fondoPrincipal:#e8d2d2,
	textoCarrouselP:#6a2b2b,
	fondoCarrouselP:#c1bfbf70,
	textoCarrouselS:#6a2b2b,
	fondoCarrouselS:#bdeee7,
	fondoFooter: #bbd7c3,
	cursiva: #9B2A94,
	textoPlano: #696969,
	tituloProducto: #5d5d5d,
	textoProducto:#808080,
	negro: black,
	bordeformulario: #d3bcb3

);


